@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #060709;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}